.site-footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1;
}

.site-footer-content > div {
    margin: auto 0;
    flex: 1;
}

.site-footer-content > .site-footer-content-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
}