<footer class="site-footer">
    <div class="site-footer-content">
       <div>
            <i class="fa fa-map-marker"></i><br/>
            La Courtoise Ressourcerie<br />
            90 chemin de Bonneval – Quartier La Courtoise<br />
            83470 Saint-Maximin-la-Sainte-Baume
       </div> 
        <div>
            <div style="margin-bottom: 1rem;"><i class="fa fa-phone"></i> 04 94 72 01 50</div> 
            <a href="https://fr-fr.facebook.com/courtoiseressourcerie/">
                <i class="fa fa-facebook"></i> Facebook
            </a>
        </div> 
        <div class="site-footer-content-logos">
            <a href="https://sived83.com/">
                <img alt="sived logo" src="images/sived.png" width="250" />
            </a>
            <a href="https://www.maregionsud.fr/">
                <img alt="paca logo" src="images/paca.png" width="250" />
            </a>
            <a href="https://www.var.fr/">
                <img alt="var logo" src="images/var.webp" width="250" />
            </a>
            <a href="http://paca.direccte.gouv.fr/Var">
                <img alt="direccte logo" src="images/direccte.jpg" height="125" />
            </a>
        </div>
    </div>
    <div class="inner">
        {{ with .Site.Params.copyright }}
        <section class="copyright">{{ . | markdownify }}</section>{{ end }}
    </div>
  </footer>
  